<div class="row" style="width: 100%">
  <!-- Hoteles destacados -->
  <div class="columna col-lg-7">
    <div class="widget hoteles-destacados">
      <h3 class="titulo">Hoteles pendientes</h3>
      <div class="card mb-3">
        <img class="card-img-top" src="../../../assets/img/500x180.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Wigets Estadisticas y Comentarios -->
  <div class="columna col-lg-5">
    <div class="widget estadisticas">
      <h3 class="titulo">Estadisticas</h3>
      <div class="contenedor d-flex flex-wrap">
        <div class="caja">
          <h3>1,236</h3>
          <p>Hoteles</p>
        </div>
        <div class="caja">
          <h3>15,632</h3>
          <p>Usuarios</p>
        </div>
        <div class="caja">
          <h3>5,980</h3>
          <p>Comentarios</p>
        </div>
      </div>
    </div>

    <div class="widget comentarios">
      <h3 class="titulo">Comentarios pendientes</h3>
      <div class="contenedor">
        <div class="comentario d-flex flex-wrap">
          <div class="foto">
            <a href="#">
              <img src="../../assets/img/fort.jpg" width="100" alt="">
            </a>
          </div>
          <div class="texto">
            <a href="#">Ricardo Fort</a>
            <p>en <a href="#">Hotel Maimeee</a></p>
            <p class="texto-comentario">Maiameeeeeeeeeee!!!!!</p>
          </div>
          <div class="botones d-flex justify-content-start flex-wrap w-100">
            <button  class="aprobar"><i class="fa fa-check" aria-hidden="true"></i> Aprobar</button>
            <button  class="eliminar"><i class="fa fa-times" aria-hidden="true"></i> Eliminar</button>
            <button  class="bloquear"><i class="fa fa-ban" aria-hidden="true"></i> Bloquear Usuario</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
